<a href="https://colab.research.google.com/github/pratibhashetty-123/python_workshop/blob/master/day3_sec2_excerise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1)1. Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [1]:
 dict={}
n=int(input("enter the no of students"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the marks"))
  dict[name]=marks
print(dict)
d1=dict.items()
sort=sorted(d1,reverse=True);
print("The sorted dictionary is")
print(sort)

enter the no of students3
Enter the namePratiba
Enter the marks80
Enter the namePooja
Enter the marks90
Enter the nameChurashm
Enter the marks100
{'Pratiba': 80, 'Pooja': 90, 'Churashm': 100}
The sorted dictionary is
[('Pratiba', 80), ('Pooja', 90), ('Churashm', 100)]

 Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [2]:
 dict={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the salary"))
  dict[name]=marks
print(dict)
d1=dict.items()
sort=sorted(d1);
print("The sorted dictionary is")
print(sort)

enter the no of employees4
Enter the nameSoni
Enter the salary2000
Enter the nameChini
Enter the salary6000
Enter the nameLatha
Enter the salary3000
Enter the nameRamya
Enter the salary1000
{'Soni': 2000, 'Chini': 6000, 'Latha': 3000, 'Ramya': 1000}
The sorted dictionary is
[('Chini', 6000), ('Latha', 3000), ('Ramya', 1000), ('Soni', 2000)]

 Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary ascending order and sum, max, min and average of the salaries

In [3]:
 import statistics
dict={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the salary"))
  dict[name]=marks
print(dict)
sort=sorted(dict.items(),key=lambda x:x[1]);
print("The sorted dictionary is")
print(sort)
print("The sum is")
print(sum(dict.values()))
print("the maximum is")
max_val=max(dict,key=dict.get)
print(max_val)
print("the minimum is")
min_val=min(dict,key=dict.get)
print(min_val)
 
mean= statistics.mean(dict.values()) 
 
print("The average of salary is",mean)

enter the no of employees3
Enter the nameSoni
Enter the salary1000
Enter the nameSonali
Enter the salary2000
Enter the nameDisha
Enter the salary4000
{'Soni': 1000, 'Sonali': 2000, 'Disha': 4000}
The sorted dictionary is
[('Soni', 1000), ('Sonali', 2000), ('Disha', 4000)]
The sum is
7000
the maximum is
Disha
the minimum is
Soni
The average of salary is 2333.3333333333335

 Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [4]:
 dict={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the salary"))
  dict[name]=marks
print(dict)
res={key:val for key, val in dict.items() if val>2000 and val<4000}
print(res)

enter the no of employees2
Enter the nameChiinu
Enter the salary40000
Enter the nameRam
Enter the salary300000
{'Chiinu': 40000, 'Ram': 300000}
{}

 Python program to convert a 3 digit number into words

In [5]:
 d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred',200:'twohundred',300:'threehundred',400:'fourhundred',500:'fivehundred',600:'sixhundred',700:'sevenhundred',800:'eighthundred',900:'ninehundred'}
num=int(input("Enter the integer between 1 to 999:"))
if (num<=20):
      print(d[num])
if(num>20 and num<1000):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 999:77
seventy seven

 Python Program to count the total number of charaters (except blank space) in a text file

In [ ]:
 fname = input("Enter the name of the file:")
infile = open(fname, 'r')
lines = 0
words = 0
characters = 0
for line in infile:
    wordslist = line.split()
    lines = lines + 1
    words = words + len(wordslist)
    characters = characters + len(line)
print(characters)